snippet pt fmt.Print()
	fmt.Print($0)

snippet ptln fmt.Println()
	fmt.Println($0)

snippet ptf fmt.Printf()
	fmt.Printf($0)


snippet spt fmt.Sprint()
	fmt.Sprint($0)

snippet sptf fmt.Sprinf()
	fmt.Sprintf($0)

snippet sptln fmt.Sprintln()
	fmt.Sprintln($0)

snippet lg log.Print()
	log.Print($0)

snippet lgf log.Printf()
	log.Printf($0)

snippet lgln log.Println()
	log.Println($0)
