extends js_and_ts, jsx_and_tsx

snippet rfcp react functional component with props
	export default function ${1:Name}($2) {
		$0
		return (

		)
	}

snippet srfcp nextjs component with context (like props)
	export default async function ${1:name}({ params: { $2 } }) {
		$0
		return (
			
		)
	}
