snippet rfc react functional component
	export default function ${1:Name}() {
		$0
		return (

		)
	}

snippet cn className
	className=$0

snippet srfc nextjs component
	export default async function ${1:name}() {
		$0,
		return (

		)
	}
