snippet rfc react functional component
	export default function ${1:Name}() {
		$0
		return (

		)
	}

snippet rfcp react functional component with props
	type Props = {
		$2
	}

	export default function ${1:Name}($3) {
		$0
		return (

		)
	}
