extends js_and_ts, jsx_and_tsx

snippet rfcp react functional component with props
	type Props = {
		$2
	}

	export default function ${1:Name}({ $3 }: Props) {
		$0
		return (

		)
	}

snippet srfcp nextjs component with context (like props)
	type Context = {
		params: { $2 }
	}

	export default async function ${1:name}({ params: { $3 } }: Context) {
		$0
		return (
			
		)
	}
