snippet fn function
	function ${1:name}($2) {
		$0
	}


snippet afn async function
	async function ${1:name}($2) {
		$0
	}


snippet e export
	export$0


snippet ed export default
	export default$0


snippet iife IIFE
	;(() => {
		$0
	})();


snippet aiife async IIFE
	;(async () => {
		$0
	})();


snippet sact nextjs server action
	"use server";

	export default async function ${1:name}($2) {
		$0
	}


snippet lg console.log
	console.log($0);


